.landing{
    width: 100%;
    min-height: 100%;
    background-size: cover;
    position: relative;
    

    
    
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        
            

    }

    .left-side{
       
        position: absolute;
        left: 0;
        //background: red;
        
        width: 50%;
        padding: 50px;


        h1{
            color: #fff;
            font-size: 60px;
            
        }
        p{
            color: #fff;
            font-size: 22px;
            letter-spacing: 4px;
            margin-bottom:40px;
        }
        .btn-main{
            padding: 20px 200px;
            border-radius: 6px;
            border: none;
            outline: none;
            font-weight: bold ;
            cursor: pointer;
            margin-bottom:40px;
            transition: .3s ease;
        }
        .btn-main:hover{
            opacity: .7;
        }

        .icons{
          
            position: relative;


            .parts{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 6.4%;
               
                position: absolute;
            

                .first{
                    .num{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .state{
                        
                        font-size: 14px;
                        font-weight: bold;
                        opacity: .6;
                        margin-top: -30px;
                    }
                    
                }

                .secound{
                    p{
                        font-size: 14px;
                        font-weight: bold;
                        
                    
                        i:nth-child(2),i:nth-child(3),i:nth-child(4),i:nth-child(5){
                            margin-left: -8px;
                        }
                        i{

                        
                            
                            font-size: 14px;
                            color: rgba(236, 230, 60, 0.867);
                            margin: 0;
                            padding: 0;
                        }
                    }
                    .rating{
                        opacity: .6;
                        margin-top: -30px;
                        letter-spacing: 5px;
                    }
                }



                .therd{
                    cursor: pointer;
                    color: #ddd;
                display: flex;
                justify-content: flex-end;
                    font-size: 30px;
                    opacity: .6;

                    .fa-apple{
                        margin-right: 20px;
                    }        
            }
        }
      }
    }

    .after{
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: .5;
        position: absolute;
        left: 5rem;
        right: 5rem;
        bottom: -50rem;
        color: #fff;

        .policy{
            
            display: flex;
            

            p{
                cursor: pointer;
                margin-left: 30px;
            }
        }

        .socials {

            i{
                cursor: pointer;
                font-size: 20px;
                margin-left: 20px;
            }
        }

    }
}
.landing::after{
    position: absolute;
    bottom: -47rem;
    
    content: "";
    height: 1px;
    background-color: #a2a2a2;
    width: 100%;
    opacity: .3;


    
    
}
