
#header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
      padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;    
    position: relative; // Parent
    
    
    
    a{
        .fa-dice-d20:hover{
            opacity: .8;
            transition: .5s ease;
        }
        
        h3{
            letter-spacing: 3px;
        }
        
        display: flex;
        text-decoration: none;
        align-items: center;
        color: #fff;

        i{
            color: #fff;
            font-size: 30px;
            margin-right: 7px;
            
        }
        
        .logo-text{
            
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto Mono', monospace;
            font-weight: 400;
        }
    }
    
    nav{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        
        
        ul{
            opacity: .6;
            margin-left: 40px;
            display: flex;
            
          
            
            
            li a{
                
                padding: 40px 20px;
                transition: .3s;
            }
            
            li a:hover{
                opacity: .7;
            }
            
            .fa-angle-down{
                
                color: #fff;
                margin-top: 43px;
                margin-left: -10px;
                opacity: .5;
            }
            
        }
    }
    

    
    .form{
           
            .circul{
                opacity: .6;
                position: absolute;
               bottom: 30px;
               margin-left: -10px;
                
                background: #000;
                width: 42px;
                height: 42px;
                border: 3px solid #fff;
                border-radius: 50%;
                
                
            }
        
        button{
            margin-left: 20px;
            cursor: pointer;
            padding: 8px 30px;
            border-radius: 4px;
            background: #fff;
            border: none;
            outline: none;
            font-weight:bold;
            
            
            
            
        }
        
        button:hover{
            opacity: .8;
            transition: .3s ease;
        }
        
        i{
            
            cursor: pointer;
            opacity: .6;
            margin-right: 20px;
            color: #fff; 
            font-size: 24px;

            background: #000;
         
           
          
            
        }    

        
    }
    
    @media (max-width:998px) {
        .form , .fa-angle-down , nav ul li a {
           
            
            display: none;
        }

       
    }

    @media (max-width:998px) {
        
        .uil-bars{
        color: #fff;
        font-size: 40px;
        cursor: pointer;
     }
     .uil-multiply{
        
        display: none;
        color: #fff;
        font-size: 35px;
        cursor: pointer;

        
     }

       
    }
}


// .container::after{
//     content: "";
//     height: 1px;
//     background-color: #a2a2a2;
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     left: 15px;
//     opacity: .8;
// }
