
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; // Parent
    
    
    
    a{
        .fa-dice-d20:hover{
            opacity: .8;
            transition: .5s ease;
        }
        
        
        
        display: flex;
        text-decoration: none;
        align-items: center;
        color: #fff;

        i{
            color: #fff;
            font-size: 27px;
            margin-right: 7px;
            
        }
        
        .logo-text{
            opacity: .8;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto Mono', monospace;
            font-weight: 400;
        }
    }
    
    nav{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        
        
        ul{
            margin-left: 30px;
            display: flex;
            
          
            
            
            li a{
                
                padding: 40px 10px;
                transition: .3s;
            }
            
            li a:hover{
                opacity: .7;
            }
            
            .fa-angle-down{
                
                color: #fff;
                margin-top: 43px;
                opacity: .5;
            }
            
        }
    }
    

    
    .form{
        
      
        
        button{
            cursor: pointer;
            padding: 8px 30px;
            border-radius: 4px;
            background: #fff;
            border: none;
            outline: none;
            font-weight:bold;
            
            
            
            
        }
        
        button:hover{
            opacity: .8;
            transition: .3s ease;
        }
        
        i{
            cursor: pointer;
            opacity: .8;
            margin-right: 20px;
            color: #fff; 
            font-size: 24px;
        }    
    }
    
    
}


.container::after{
    content: "";
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    left: 15px;
    opacity: .8;
}
